body{
	text-align: center;
	font size: 15px
	margin:0 auto;
	font-family: 'Poppins', sans-serif;
}

h2{
	font-size: 33px;
	margin-top: 50px;
	margin-bottom: 2px;
	font-weight: normal;
}
h1{
	margin-top: 10px;
	font-size: 220%;
	font-weight: bold;
}

/*header*/
.main-p{
	padding-top: 8px;
	width:36%;
	margin-left: 30%;
}

/*container-div*/

.Team-Builder{
	width:300px;
	height: 225px;
	border-top:3px solid hsl(0, 78%, 62%); 
	border-radius: 5px;
	position: absolute;
	left: 37%;
	top:37%;
	text-align: left;
	padding:20px ;
	box-shadow: 3px 3px 3px 3px silver;	
}
.Team-Builder-img{
	display: block;
	padding:10px ;
	margin-left: 170px;
}


.Supervisor{
	width:300px;
	height: 220px;
	border-top:3px solid hsl(180, 62%, 55%);
	border-radius: 5px;
	position: absolute;
	left: 8%;
	top:55%;
	text-align: left;
	padding:20px ;
	box-shadow: 3px 3px 3px 3px silver;
}
.supervisor-img{
	display: block;
	padding:20px;
	margin-left: 170px;
}


.Karma{
	width:300px;
	height: 220px; 
	border-top:3px solid hsl(34, 97%, 64%);
	border-radius: 5px;
	position: absolute;
	text-align: left;
	left: 37%;
	top:83%;
	padding:20px ;
	box-shadow: 3px 3px 3px 3px silver;
}
.karma-img{
	display: block;
	padding:20px;
	margin-left: 170px;
}


.Calculator{
	width:300px;
	height: 230px;
	border-top:3px solid hsl(212, 86%, 64%);
	border-radius: 5px;
	position: absolute;
	left: 66.1%;
	top:55%;
	text-align: left;
	padding:20px ;
	box-shadow: 3px 3px 3px 3px silver;
}
.Calculator-img{
	display: block;
	padding:15px ;
	margin-left: 170px;
}

/*footer*/
.attribution {
   	 font-size: 11px;
   	 text-align: center;
   	 margin-top: 600px;
 }
.attribution a {
    color: hsl(228, 45%, 44%);
 }


/*media breakpoints*/
@media (min-width:320px) and (max-width:1220px) {
	
	h2{
		font-size: 22px;
	}
	h1{
		font-size: 23px;
	}

/*container-div*/

	.Team-Builder{
		width:250px;
		height: 230px;
	}
	.Team-Builder-img{
		margin-left: 130px;
	}
	.Supervisor{
		width:250px;
		height: 230px;
	}
	.supervisor-img{
		margin-left: 120px;
	}
	.Calculator{
		width:250px;
		height: 230px;
	}
	.Calculator-img{
		margin-left: 120px;
	}
	.Karma{
		width:250px;
		height: 230px;
	}
	.karma-img{
		margin-left: 100px;
	}
	.main-p{
		width:280px;
		margin:10px auto;
	}
/*footer*/
	 .attribution {
	 	margin:0px auto 0px auto;
	 	width:60%;
	 	font-weight:bold;
	 }
	 
/*container-div*/
	  .container-div{
	 	margin-bottom: 590px;
	 }
}

/*media breakpoint for mobile look*/
@media(max-width: 990px){
	.Team-Builder{
		position: static;
		margin: 100px  auto 1px auto;
	}
	.Supervisor{
		position: static;
		margin:50px auto 1px auto
	}
	.Calculator{
		position: static;
		margin:50px auto 1px auto;
	}
	.Karma{
		position: static;
		margin:50px auto 1px auto;
	}
	.container-div{
	 	margin-bottom: 60px;
	 }
}	
